<div class="panel panel-default library-item">
    <div class="panel-heading">

    </div>
    <div class="panel-body">
        <p>Автор: {{item.user.email}}</p>
        <p>Comment: {{item.body}}</p>
    </div>
    <div class="panel-footer text-right">
      {{#if item.checkUser}}
        {{yield}}
      {{/if}}
    </div>
</div>