<h1>Main table</h1>
<div class="col-sm-8">
    <div class="col-sm-4">
      {{#power-select
        selected=field
        placeholder="Please, select one destination"
        options=fields
        onchange=(action "chooseField")
      as |field|
      }}
        {{field.name}}
      {{/power-select}}
    </div>
</div>

<br>
<br>
<table class="table table-bordered">
    <thead>
    <tr>
      {{#each fields as |field|}}
        {{#if field.status}}
            <th>{{field.name}}</th>
        {{/if}}
      {{/each}}
    </tr>
    </thead>

    <tbody>
    {{#each modelArray as |model|}}
        <tr>
          {{#each fields as |field|}}
            {{#if field.status}}
                <th>{{get model field.name}}</th>
            {{/if}}
          {{/each}}
        </tr>
    {{/each}}
    </tbody>
</table>