<div class="panel panel-default library-item">
    <div class="panel-heading">

      {{#link-to 'comments.index' item.id }} <h3 class="panel-title" >{{item.title}}</h3>{{/link-to}}

    </div>
    <div class="panel-body">
        <p>Автор: {{item.user.email}}</p>
        <p>Content: {{item.content}}</p>
    </div>
    <div class="panel-footer text-right">
      {{yield}}
    </div>
</div>