<h3>Blog Types</h3>
{{#link-to 'blog-types.new' class="btn btn-primary btn-xs" }} Add new Blog type {{/link-to}}

<table class="table table-condensed">
    <thead>
    <tr>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {{#each model as |blogType|}}
        <tr>
            <td>{{blogType.name}}</td>
            <td>
              {{#link-to 'blog-types.edit' blogType.id class='btn btn-primary btn-xs'}}Edit{{/link-to}}
                <button class="btn btn-danger btn-xs" {{action 'deleteBlogType' blogType}}>Delete</button>
            </td>
        </tr>
    {{/each}}
    </tbody>

</table>