<h2>Blog Types</h2>
{{#link-to 'blog-types.new' tagName="li"}}<a href="">Add new Blog type</a>{{/link-to}}

{{#each model as |blogType|}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{blogType.name}}</h3>
            <div class="text-right">
              {{#link-to 'blog-types.edit' blogType.id class='btn btn-success btn-xs'}}Edit{{/link-to}}
                <button class="btn btn-danger btn-xs" {{action 'deleteBlogType' blogType}}>Delete</button>
            </div>
        </div>
    </div>
{{/each}}