@import 'bootstrap';
@import "ember-power-select";

.navbar-default {
  background-color: #337ab7;
  border-color: #316089;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #b4cfe7;
}

.navbar-default .navbar-text {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #b4cfe7;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #337ab7;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #b4cfe7;
  background-color: #316089;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #316089;
}

.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #b4cfe7;
  background-color: #316089;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #b4cfe7;
  background-color: #316089;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #b4cfe7;
  background-color: #316089;
}

.navbar-default .navbar-toggle {
  border-color: #316089;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #316089;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}

.navbar-default .navbar-link {
  color: #ffffff;
}

.navbar-default .navbar-link:hover {
  color: #b4cfe7;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #b4cfe7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #b4cfe7;
    background-color: #316089;
  }
}

body {
  padding-top: 20px;
}

html {
  overflow-y: scroll;
}

.blog-item {
  min-height: 150px;
  a {
    text-decoration: none;
    color: white;
  }
}

.panel-body {
  height: 400px;
  padding: 2px;
  padding-bottom: 2px;
  overflow: hidden;
  img {
    max-width: 100%;
  }
}

.panel.isChecked {
  border-color: red;
  box-shadow: 0 1px 20px 0 #e00013, 0 0 0 1px #a72727;
}

.blog-checkBox {
  float: right;
}

.panel-footer {
  background-color: white;
}

.blogs-buttons-menu {
  margin-bottom: 20px;
  text-align: right;
}

.blog-description {
  height: 20px;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 25px;
}

.blog-name {
  text-align: center;
}

.blog-description-show {
  margin-top: 20px;
  text-align: center;
}

.panel-title {
  text-align: center;
}

.panel-body.post {
  text-align: center;
  line-height: 3;
  overflow: hidden;
  height: 226px;
}

.panel-footer {
  height: 45px;
}

.post-body {
  margin-top: 40px;
  text-align: center;
  line-height: 2;
  padding-bottom: 40px;
}

.comment-item {
  text-align: center;
  margin-bottom: 50px;
}

.comment-author {
  margin-top: 10px;
  text-align: center;
  background-color: aliceblue;

}

.panel-body.comment {
  height: 60px;
  background-color: aliceblue;
}

.comment-list {
  margin: 0 auto;
  width: 700px;
  background-color: aliceblue;
}

.cropper-container {
  min-height: 300px;
  max-width: 500px;
  img {
    max-width: 100%; /* This rule is very important, please do not ignore this! */
  }
}

.cropper-preview {
  overflow: hidden;
  transform: none;
  display: block;
  height: 200px;
  width: 200px;
  min-width: 0;
  min-height: 0;
  max-width: none;
  max-height: none;
  position: absolute;
  left: 650px;
  border: 1px solid #a4a4a5;
}

.blog-image {
  height: 250px;

}
