@import 'bootstrap';
@import "ember-power-select";

.navbar-default {
  background-color: #337ab7;
  border-color: #316089;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #b4cfe7;
}

.navbar-default .navbar-text {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #b4cfe7;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #337ab7;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #b4cfe7;
  background-color: #316089;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #316089;
}

.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #b4cfe7;
  background-color: #316089;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #b4cfe7;
  background-color: #316089;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #b4cfe7;
  background-color: #316089;
}

.navbar-default .navbar-toggle {
  border-color: #316089;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #316089;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}

.navbar-default .navbar-link {
  color: #ffffff;
}

.navbar-default .navbar-link:hover {
  color: #b4cfe7;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #b4cfe7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #b4cfe7;
    background-color: #316089;
  }
}

body {
  padding-top: 20px;
}

html {
  overflow-y: scroll;
}

.blogs-buttons-menu {
  margin-bottom: 20px;
  text-align: right;
}

.glyphicon {
  cursor: pointer;
}

.list {
  margin-left: 150px;
  .thumbnail {
    width: 720px;
    display: inline-block;
  }
  .blog-image {
    display: block;
    float: left;
    height: 350px;
    width: 350px;
    img {
      max-width: 100%;
    }
  }
  .caption {
    display: block;
    float: right;
    width: 350px;
    height: 350px;
  }
  .blog-description {
    height: 161px;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.thumbnail.isChecked {
  border-color: red;
  box-shadow: 0 1px 20px 0 #e00013, 0 0 0 1px #a72727;
}

.blog-checkBox {
  float: right;
  margin: 10px !important;
}

.panel-footer {
  background-color: white;
}

.blog-title {
  overflow: hidden;
}

.blog-description {
  height: 60px;
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 15px;
}

.caption {
  display: block;
  width: 350px;
  height: 250px;
  overflow: hidden;
}

.comment-list {
  margin: 0 auto;
  width: 700px;
  background-color: aliceblue;
}

.cropper-container {
  min-height: 300px;
  max-width: 500px;
  img {
    max-width: 100%;
  }
}

.cropper-preview {
  overflow: hidden;
  transform: none;
  display: block;
  height: 200px;
  width: 200px;
  min-width: 0;
  min-height: 0;
  max-width: none;
  max-height: none;
  position: absolute;
  left: 650px;
  border: 1px solid #a4a4a5;
}

.blog-image {
  height: 350px;
  img {
    max-width: 100%;
  }
}

.user-avatar {
  height: 60px;
  width: 60px;
  img {
    max-width: 100%;
  }
}

.search-bar {
  padding-bottom: 15px;
  .btn.btn-search.btn-default {
    height: 34px;
  }

  .search-select {
    .ember-power-select-placeholder {
      padding-top: 3px;
    }
    display: block;
    float: left;
    width: 150px;
    .ember-power-select-trigger.ember-view.ember-basic-dropdown-trigger {
      border-radius: 0px;
      height: 34px;
    }
    .ember-power-select-placeholder {
      text-align: center;
      height: 34px;
    }
  }

  .search-select.blog-type {
    display: block;
    float: left;
    width: 150px;
    .ember-power-select-trigger.ember-view.ember-basic-dropdown-trigger {
      border-radius: 4px 0 0 4px;
      height: 34px;
    }
    .ember-power-select-placeholder {
      text-align: center;
      height: 34px;
    }
  }

  .blog.search-by-date {
    .form-control.ember-view.ember-text-field {
      border-radius: 0px;
    }
    width: 100px;
    display: block;
    float: left;
  }
}

.tooltip-error {
  background-color: #e37f7f;
  color: #fff;
}
