@import 'bootstrap';
@import "ember-power-select";

body {
  padding-top: 20px;
}

html {
  overflow-y: scroll;
}

.blog-item {
  min-height: 150px;
}

.panel.isChecked {
  border-color: red;
  box-shadow: 0 1px 20px 0 #e00013 , 0 0 0 1px #a72727 ;
}
