<div class="form-group">
  <label class="col-sm-2 control-label">{{field.label}}</label>
  <div class="col-sm-10">
    {{one-way-input class="form-control"  type=field.fieldType value=currentValue placeholder=field.placeholder
                     update=(action 'createObject' (mut currentValue ))}}
  </div>
</div>