<h2>{{title}}</h2>

<div class="row">

    <div class="col-md-6">
      {{comment-item-form item=model buttonLabel=buttonLabel action='saveComment'}}
    </div>

    <div class="col-md-4">
      {{#comment-item item=model}}
          <br/>
      {{/comment-item}}
    </div>

</div>