<div class="blog search-by-date">
  {{bootstrap-datepicker  autoclose=true format="dd/mm/yyyy" value=startDate placeholder="Start date"
                          class="form-control"}}
</div>
<div class="blog search-by-date">
  {{bootstrap-datepicker  autoclose=true format="dd/mm/yyyy" value=endDate placeholder="End date"
                          class="form-control"}}
</div>