<div class="search-select">
  {{#power-select
    selected=userSelectedValue
    placeholder="Please, select one destination"
    options=users
    allowClear=true
    onchange=(action 'chooseUserBlog' (mut ignore user))
  as |user|
  }}
    {{user.email}}
  {{/power-select}}
</div>