<h2>Edit Library</h2>

<div class="row">

    <div class="col-md-6">
      {{blog-item-form item=model buttonLabel='Save changes' action='saveBlog'}}
    </div>

    <div class="col-md-4">
      {{#blog-item item=model}}
          <br/>
      {{/blog-item}}
    </div>

</div>