<h2>List</h2>
<div class="row">
  {{#each model as |blog|}}
      <div class="col-md-4">
          <div class="panel panel-default library-item">
              <div class="panel-heading">
                  <h3 class="panel-title">{{blog.name}}</h3>
              </div>
              <div class="panel-body">
                  <p>Address: {{blog.description}}</p>
              </div>
              <div class="panel-footer text-right">
                {{#link-to 'blogs.edit' blog.id class='btn btn-success btn-xs'}}Edit{{/link-to}}
                {{#link-to 'blogs.show' blog.id class='btn btn-success btn-xs'}}Show{{/link-to}}
                  <button class="btn btn-danger btn-xs" {{action 'deleteBlog' blog}}>Delete</button>
              </div>
          </div>
      </div>
  {{/each}}
</div>