<div class="jumbo show-listing">
    <h2><strong>Имя Поста: </strong> {{model.title}}</h2>
    <div class="right detail-section">
        <div class="detail owner">
            <strong>Конетент: </strong> {{model.content}}
        </div>
    </div>
</div>