<h2>Permissions</h2>
{{#link-to 'permissions.new' class="btn btn-primary btn-xs" }} Add Permission {{/link-to}}
<br>
<br>

<table class="table table-condensed">
    <thead>
    <tr>
        <th>Permission Name</th>
        <th>Permission Code</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {{#each model as |permission|}}
      <tr>
          <td>{{permission.name}}</td>
          <td>{{permission.code}}</td>
          <td>
              <div class="text-right">
                {{#link-to 'permissions.edit' permission.id class='btn btn-primary btn-xs'}}Edit{{/link-to}}
                  <button class="btn btn-danger btn-xs" {{action 'deletePermission' permission}}>Delete</button>
              </div>
          </td>
      </tr>
    {{/each}}
    </tbody>
</table>