<div class="search-select blog-type">
  {{#power-select
    selected=typeSelectedValue
    placeholder="Please, select one destination"
    allowClear=true
    options=blogTypes
    onchange=(action 'chooseBlogType')
  as |blogType|
  }}
    {{blogType.name}}
  {{/power-select}}
</div>