<div class="form-group">
  <label class="col-sm-2 control-label">Description</label>
  <div class="col-sm-10">
    {{!input type="text" class="form-control" placeholder=""}}
    {{textarea cols="80" rows="6"  class="form-control" placeholder="The Description of the Blog"}}
  </div>
</div>