<!--<div class="col-md-3">-->
  <!--{{!input value=searchParam  placeholder="Search my Name and Description"}}-->
<!--</div>-->
<!--<div class="input-group"><input value=searchParam class="form-control" placeholder="Search for..."> </div>-->
{{input  value=searchParam  type="text" class="form-control" placeholder="Search for..."}}
<!--<input type="text" class="form-control">-->